doctype html
html(lang="en")
    head
        title LookAtMyCode
        //- link(rel="stylesheet", href="lib/font-awesome.css")
        link(rel="stylesheet", href="lib/bootstrap.css")
        link(rel="stylesheet", href="styles.css")
        script(type='text/javascript',src='lib/jquery.js',charset="utf-8")
        script(type='text/javascript',src='lib/lodash.js',charset="utf-8")
        script(type='text/javascript',src='lib/backbone.js',charset="utf-8")
        script(type='text/javascript',src='lib/ace/ace.js',charset="utf-8")
        script(type='text/javascript',src='lib/ace/ext-static_highlight.js',charset="utf-8")
    body
        .container.hat
            .navbar.navbar-inverse
                .navbar-inner
                    h2.pull-left LookAtMyCode.org



                    .pull-right
                        h5= locale.motto
                        ul.nav
                            li: a(href="/about") #{locale.about} 
                            li: a(href="/source") #{locale.source} 
                            li: a(href="/changelog") #{locale.changelog}

        .container.info
           .navbar.navbar-inverse
                .navbar-inner
                    .container
                        a.brand(href="#") Aleksandr's code
                        .btn-group
                            button.btn.btn-inverse
                                i.icon-edit.icon-white
                                |  #{locale.fork}
                            button.btn.btn-inverse
                                i.icon-download.icon-white
                                |  #{locale.download}
                            button.btn.btn-inverse 
                                i.icon-thumbs-up.icon-white
                                |  #{locale.like}
                        ul.nav.pull-right
                            li
                                .btn-group
                                    button.btn.btn-inverse.dropdown-toggle(data-toggle="dropdown")
                                        i.icon-th-list.icon-white
                                        |  JavaScript 
                                        span.caret
                                    ul.dropdown-menu
                                        li: a(href="#") C#
                                        li: a(href="#") VB
                                        li: a(href="#") Basic
                    .container
                        p.pull-left Created by Aleksandr Solovey two days ago
                        p.pull-right 5 #{(5==1) ? (locale.like1) : (locale.likes)}, 15 #{(15 == 1) ? locale.view1 : locale.views}
        .container.wrapper
            div#editor.code
        
        script(type='text/javascript',src='scripts.js',charset="utf-8")
